body {
    display: flex;
    justify-content: center;
}

#custom-table {
    font-family: Verdana, sans-serif;
    color: #4c5c70;
    border: 3px solid #f8f8f8;
}

.row:hover {
    background-color: #d8dadd;
}

td, th {
    padding: 15px;
    min-width: max-content;
}

.table-header {
    background-color: #f4f9fc;
    text-transform: uppercase;
}

.name {
    text-transform: capitalize;
}

.row:nth-child(odd) {
    background-color: #f4f9fc;
}

.row:nth-child(odd):hover {
    background-color: #d8dadd;
}
