header {
    margin-top: 0;
}

.wrapper-header-top {
    justify-content: center;
    height: 100px;
}

.logo-img {
    height: 50px;
    max-width: 50px;
}
 
.wrapper-header-down {
    position: absolute;
    height: 100px;
    width: 95vw;
}

.contacts, .menu, .line {
    display: none;
}

.burger {
    display: block;
}

.burger span {
    color: #2978ee;
    font-size: 80px;
    cursor: pointer;
}

.search {
    margin-right: 5px;
}

.wrapper {
    background-size: 120%;
    background: url(assets/images/iback.png) no-repeat top center;
    width: 95vw;
    overflow-x: hidden;
}

.slider {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    color: #6D6E71;
}

.why, .about {
    width: 80vw;
}

.text-content {
    width: 80vw;
    margin-left: 30px;
}
