.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

input:required:valid {
    border-color: green;
    background-image: linear-gradient(to right, #cffce0, #a2f7a2);
}
  
/* 
input:invalid {
    border-color: red;
} */
