.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.star-button {
    height: 62px;
    width: 250px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to bottom, #e3e3e3 0%, #d2d2d2 50%, #cccccc 51%, #adadad 100%);
    box-shadow: 0 1px 2px 1px #575757, 0 0 0 6px #cccccc, 0 0 0 8px #ffffff, 0 0 0 10px #666666;
    color: #585858;
}

.text-button {
    position: relative;
    bottom: 2px;
    font-weight: 700;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.text-button:before, .text-button:after {
    font-size: 30px;
    content: "\2605";
    color: #868686;
    margin: 0 10px;
}
