.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: 90vh;
   max-width: 1400px;
   width: 100%;
}

.shadow {
   width: 300px;
   height: 200px;
   background-color: #5a9b5a;
   box-shadow: 5px 5px 0 #93d6b5, 10px 10px 0 #c3ecd8;
}

.pseudoelements {
	background: #5a9b5a;
	width: 300px;
	height: 200px;
	position: relative;
}

.pseudoelements::after, .pseudoelements::before {
	content: '';
	width: 100%;
   height: 100%;
   position: absolute;
}

.pseudoelements::after {
   content: '';
	background: #93d6b5;
	top: 5px;
   left: 5px;
   z-index: -1;
}

.pseudoelements::before {
	background: #c3ecd8;
	top: 10px;
   left: 10px;
   z-index: -10;
}

.index {
   width: 310px;
	height: 210px;
   position: relative;
}

.index > div {
   width: 300px;
	height: 200px;
}

.first {
   position: absolute;
   background-color: #5a9b5a;
   z-index: 100;
}

.second {
   position: absolute;
   background-color: #93d6b5;
   top: 5px;
   left: 5px;
   z-index: 10;
}

.third {
   position: absolute;
   background-color: #c3ecd8;
   top: 10px;
   left: 10px;
   z-index: 1;
}
