.message {
   display: flex;
   justify-content: center;
   align-items: center;
   height: min-content;
   margin: auto;
   padding: 20px;
   border-radius: 15px;
   border: none;
   background-color: #ffffff;
   font-size: 28px;
   font-weight: 400;
   color: #0067A3;
   cursor: pointer;
   font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message:hover {
   background-color: #0067A3;
   color: #ffffff;
   transition: 0.2s;
   border: 1px solid #ffffff;
}
